name: Deploy
on:
  push:
    brances: [main]
    tags: ["v*.*.*"]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "0xtmphey/athylps-backend"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.0'
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -v ./...
      - name: Run tests
        run: go test ./...
  deploy:
    runs-on: ubuntu-latest
    needs: [check]
    if: ${{ needs.check.result == 'success' }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN  }}
      - name: Build image and push to registry
        uses: docker/build-push-action@v4
        with:
          context: .
          file: build/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
      - name: Send deploy hook
        run: | 
         curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'